html {
    height: 100%;
}

body {
    /* background-image: url(https://media.giphy.com/media/xT9Igf2wBfQ8ClCDNC/giphy.gif); */
    background-image: url(https://media.giphy.com/media/OK5LK5zLFfdm/giphy.gif);
    /* background-image: url(https://media.giphy.com/media/xT9IgN8YKRhByRBzMI/source.gif); */
    /* background-image: url(https://media.giphy.com/media/3o85xLjAlsYNsmItMI/source.gif); */
    /* background-image: url(https://media.giphy.com/media/l3q2ZQcQ2eHfiRdqE/giphy-downsized-large.gif); */
    /* background-image: url(https://media.giphy.com/media/f4HKhEZDnk8Mg/source.gif); */
    /* background-image: url(https://media.giphy.com/media/S5nn00ZI8YQjS/giphy.gif);*/
    /* background-image: url(https://media.giphy.com/media/m6yPfBIXBnIre/giphy.gif);*/
    background-position: center;
    background-size: cover;
    background-repeat:repeat;
}

.navbar {
    padding-top: 4;
    padding-bottom: 4;
}

.navbar-dark .navbar-nav .nav-link {
    /*color: rgba(255,255,255,.5);*/
    color: white;
}

.navbar-dark .navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#content {
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

h1 {
    /*color: #bdc2c9;*/
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 5em;
}

h4 {
    /*color: #bdc2c9;*/
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
}

hr {
    width: 400px;
    border-top: 1px solid white;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
